// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line{
	border-top: 1px solid #ddd;
}

.content{
	padding-right:50px;
}

.container{
	  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}




.field{
	margin-bottom:10px;

}

label{
	display: inline-block;
}